name: Build and test
on:
  pull_request:
    paths-ignore:
      - '**.md'

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:

    - name: Set up Go
      uses: actions/setup-go@v3.4.0
      with:
        go-version: '1.17'
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v3.0.2

    - name: Get dependencies
      run: go mod download

    - name: Build
      run: go build -v .

    - uses: hashicorp/setup-terraform@v2
      with:
        terraform_version: 1.1.3
        terraform_wrapper: false
    
    - name: TF acceptance tests
      timeout-minutes: 10
      env:
        TF_ACC: "1"
      run: go test -v -cover ./metabase